/* Parte de media queries */

@media (max-width: 1000px) {
	.navigation-wrapper {
		width: 100%;
		height: 100%;
		flex-direction: column;
		padding: 10px 0;
	}
	.navigation-wrapper > .logo-links-wrapper {
		width: 80%;
		flex-direction: column;
	}
	.navigation-wrapper > .logo-links-wrapper > .links-column {
		width: 100%;
		text-align: center;
		margin-bottom: 40px;
	}
	.navigation-wrapper > .logo-links-wrapper > .links-column > .links-wrapper {
		width: 100%;
		justify-content: space-around;
	}
	.navigation-wrapper > .create-login-signup {
		width: 100%;
		justify-content: center;
	}

	.features-section {
		height: 100%;
		flex-direction: column;
	}
	.features-section > .description-section {
		width: 85%;
		margin: 0 0 50px;
	}
	.features-section > .description-section > .text-content > .bottom-header {
		width: 100%;
	}

	.codepen-for-wrapper {
		width: 100%;
		grid-template-columns: 1fr;
	}

	/* complem. sust. */
	
	.features-section > .description-section {
		align-items: center;
	}
	.features-section > .description-section > .text-content {
		font-size: 0.7em;
		text-align: center;
	}
	
	.features-section > .description-section > .buttons-wrapper {
		font-size: 0.5em;
	}
	.features-section > .projects-section img {
		width: 430px;
	}

}
